In [33]:
import pandas as pd
import numpy as np
from datetime import datetime

In [5]:
time_stamp = datetime(2016,10,1)

In [6]:
time_stamp

datetime.datetime(2016, 10, 1, 0, 0)

In [7]:
time_stamp1 = pd.Timestamp(time_stamp)

In [8]:
time_stamp1.year, time_stamp1.month, time_stamp1.day, time_stamp1.hour, time_stamp1.minute, time_stamp1.weekday_name

(2016, 10, 1, 0, 0, 'Saturday')

In [9]:
time_stamp == time_stamp1

True

In [10]:
time_stamp2 = pd.Timestamp('2016/10/1')

In [11]:
time_stamp == time_stamp2

True

In [12]:
time_stamp2

Timestamp('2016-10-01 00:00:00')

In [13]:
period = pd.Period('2016-01')

In [20]:
period

Period('2016-01', 'M')

In [15]:
period.asfreq('D')

Period('2016-01-31', 'D')

In [22]:
period.to_timestamp()

Timestamp('2016-01-01 00:00:00')

In [27]:
period.to_timestamp().to_period('M')

Period('2016-01', 'M')

In [28]:
period + 1

Period('2016-02', 'M')

In [29]:
pd.date_range('2016-01-01', periods = 10, freq='D')

DatetimeIndex(['2016-01-01', '2016-01-02', '2016-01-03', '2016-01-04',
               '2016-01-05', '2016-01-06', '2016-01-07', '2016-01-08',
               '2016-01-09', '2016-01-10'],
              dtype='datetime64[ns]', freq='D')

In [31]:
index = pd.date_range('2016-01-01', periods = 12, freq='M')

In [37]:
data = np.random.random((12,2))
pd.DataFrame(data, index)

                   0         1
2016-01-31  0.073357  0.012518
2016-02-29  0.264454  0.287698
2016-03-31  0.326693  0.886007
2016-04-30  0.313532  0.810876
2016-05-31  0.040696  0.061007
2016-06-30  0.749612  0.290880
2016-07-31  0.937141  0.731031
2016-08-31  0.185703  0.715765
2016-09-30  0.222681  0.387129
2016-10-31  0.875639  0.450124
2016-11-30  0.718258  0.840961
2016-12-31  0.150001  0.547499